@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* scoots mobile page - MAIN */

:root {
    --dark-green: #359144; /* main */
    --light-green: #73c791;
    --dark-blue: #25478F;
    --light-blue: #9edbeb;
    --white: #f5fcff;
}
body {
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}
/* .banner-content {
    padding: 20px 100px;
    max-width: fit-content;
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: fixed;
    background-color: var(--white);
}
.banner-text, .banner-text p{
    flex-grow: 1;
    line-height: 1.5;
    color: var(--dark-green);
    padding-right: 10px;
    text-align: center;
}
.banner-close {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--dark-green);
    font-weight: 600;
}
.banner-text, .banner-close > span {
    color: var(--dark-green);
} */
header {
    background-color: var(--dark-green);
    display: flex;
    padding: 0px;
    margin: 0px;
    max-width: 100%;
}
#logo {
    max-width: 50%;
    align-items: left;
}
#menu {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: .5rem .75rem;
    background-color: var(--dark-green);
    color: var(--white);
    position: absolute;
    top: 1rem;
	right: 1rem;
    border: none;
}
#menu::before {
    content: "☰";
}
#menu.open::before {
	content: "x";
}
