@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* scoots mobile page - MAIN */

:root {
    --dark-green: #359144; /* main */
    --light-green: #73c791;
    --lighter-green: #7cd79c63;
    --dark-blue: #25478F;
    --light-blue: #9edbeb;
    --white: #f5fcff;
}
body {
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}
.banner-content {
    padding: 20px 100px;
    max-width: 375px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: fixed;
    background-color: var(--white);
}
.banner-text, .banner-text p{
    flex-grow: 1;
    line-height: 1.5;
    color: var(--dark-green);
    padding-right: 10px;
    text-align: center;
}
.banner-close {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--dark-green);
    font-weight: 600;
}
.banner-text, .banner-close > span {
    color: var(--dark-green);
}
header {
    background-color: var(--dark-green);
    display: flex;
    padding: 0px;
    margin: 0px;
    max-width: 100%;
}
#logo {
    width: 200px;
    align-items: left;
    padding: 5px;
}
#menu {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: .2rem;
    background-color: var(--dark-green);
    color: var(--white);
    position: absolute;
    top: 1rem;
	right: .70rem;
    border: none;
}
#menu::before {
    content: "☰";
}
#menu.open::before {
	content: "x";
}
.navigation {
    display: flex;
    flex-direction: column;
    text-align: right;
    background-color: var(--dark-green);
    color: var(--white);
}
.navigation .current-page {
    text-decoration: underline;
    text-underline-offset: 5px;
}
.navigation a {
    display: none;
    padding: .75rem .5rem;
    text-decoration: none;
    color: var(--white);
    font-weight: 700;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
}
.navigation a:hover, .navigation a:active {
    color: white;
    background-color: var(--light-green);
}
.open a {
	display: block;
}
#hero-main, #hero-rentals, .rental-vehicles {   
    max-width: 100%;
    margin: 0px auto;
    height: auto;
    display: block;
    text-align: center;
}
#hero-msg h1, #rentals-hero-msg h1 {
    text-align: center;
    color: var(--dark-blue);
    padding: 0px 20px;
}
#hero-msg p, #rental-warnings, #rental-list {
    color: black;
    text-align: center;
    margin: 10px;
    padding: 5px 10px;
    line-height: 1.25rem;
}
.reserve-button {
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: var(--dark-green);
    color: var(--white);
    padding: 15px;
    margin: 10px auto;
    font-weight: 600;
    font-size: large;
    max-width: fit-content;
    border-radius: 7px;
}
.reserve-button a:hover, .reserve-button a:active {
    color: white;
    background-color: var(--light-green);
}
.main-main {
    padding: 0px 40px;
    margin: 0 auto;
}
main h2 {
    color: var(--dark-blue);
    text-align: center;
    margin: 50px 0px 5px 0px;
    font-size: xx-large;
}
.main-rentals, .main-locations, .rental-rentals {
    margin: 0px 10px;
    display: flex;
    flex-wrap: wrap;
}
.main-rentals>* {
    flex: 1 1 200px;
    max-width: 260px;
}
.main-locations>* {
    flex: 1 1 200px;
    max-width: 90%;
}
.rental-info, .location-info {
    border: 1px solid lightgray;
    border-radius: 7px;
    margin: 15px 15px;    
    box-shadow: 1px 2px 10px #dfdfdf;
    padding: 10px;
    background-color: white;
}
.rental-info h3, .location-info h3, #weather h3, #rental-list h3 {
    text-align: center;
    color: var(--dark-blue);
    font-size: x-large;
    padding: 5px;
    margin: 5px;
}
.rental-info img, .location-info img, .location-info iframe {
    display: block;
    text-align: center;
    max-width: 90%;
    margin: 25px auto;
    border-radius: 2px;
}
.rental-info p, #rentals-hero-msg {
    line-height: 1.25rem;
    display: block;
    text-align: center;
    margin: 15px;
}
.weather-info, .price-table {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 75px;
}
.toggle-weather {
    border: none;
    width: 75px;
    padding: 5px;
    margin: 15px auto;
    background-color: var(--dark-green);
    color: var(--white);
    border-radius: 7px;
    font-weight: 600;
}
.toggle-weather a:hover, .toggle-weather a:active {
    color: white;
    background-color: var(--light-green);
}
#weather {
    border: 1px solid lightgray;
    border-radius: 7px;
    margin: 15px 10px;
    box-shadow: 1px 2px 10px #dfdfdf;
    padding: 10px;
    background-color: white;
}
footer {
    background-color: var(--dark-green);
    display: block;
    padding: 0px;
    margin: 30px 0px 0px 0px;
    /* max-width: 375px; */
    max-width: 100%;
}
.footer-socials {
    display: block;
    text-align: center;
}
.social-icon {
    max-width: 50px;
    margin: 20px auto 10px auto;
}
.footer-contact {
    margin: 10px 25px;
    height: auto;
    display: block;
    text-align: left;
    color: var(--white)
}
.footer-contact p {
    line-height: 1rem;
    font-size: large;
}
.project-info {
    display: block;
    text-align: center;
    color: var(--white);
    font-size: medium;
    margin: 40px auto 0px auto;
    padding: 20px;
}

/* scoots mobile page - RENTALS */

#rental-warnings {
    background-color: var(--light-green);
    max-width: fit-content;
    display: block;
    text-align: center;
    margin: 0px 20px;
}
#rental-warnings h3 {
    letter-spacing: .05rem;
    font-size: x-large;
    color: white;
}
#liable-ins {
    font-size: small;
    color: var(--dark-blue);
    text-align: center;
    margin: 10px;
    padding: 5px 0px;
}
#reserve-link {
    /* text-decoration: none; */
    color: white;
    font-size: large;
    font-weight: 700;
    letter-spacing: .03rem;
}
.rental-vehicles {
    background: var(--light-blue);
    margin: 0 auto;
    max-width: fit-content;
    max-height: min-content;
}
.rental-rentals img {
    display: block;
    text-align: center;
    margin: 25px auto;
    max-width: 25%;
    border: 10px solid var(--white);
    border-radius: 7px;
}
.rental-rentals>* {
    flex: 1 1 200px;
    max-width: 10%;
}
#table-container {
    /* margin: 10px; */
    display: block;
    text-align: center;
    margin: 0 auto;
    border-collapse: collapse;
}
th:first-child {
    background-color: var(--light-green);
    /* color: var(--white); */
}
th, td {
    padding: 8px 5px;
    border-radius: 2px;
}
th {
    background-color: var(--lighter-green);
    /* color: var(--white); */
}
td:first-child {
    font-weight: 600;
    text-align: left;
}
td {
    text-align: center;
    font-size: medium;
}
tbody tr:nth-child(odd) {
    background-color: var(--lighter-green);
}

