@media screen and (min-width: 640px) {

    /* scoots medium - MAIN */

    /* :root {
        --dark-green: #359144; 
        --light-green: #73c791;
        --dark-blue: #25478F;
        --light-blue: #9edbeb;
        --white: #f5fcff;
    } */
    body {
        max-width: 720px;
    }
    .banner-content {
        padding: 15px 75px;
        max-width: 720px;
    }
    #logo {
        width: 200px;
        margin-right: 50px;
    }
    .navigation {
        flex-direction: row;
        justify-content: right;
        margin-right: -50px;
    }
    .navigation a {
        display: block;
        padding: 2rem .74rem;
    }
    #menu {
        display: none;
    }
    .footer-contact {
        margin: 10px 40px;
    }


    /* scoots medium - MAIN */


    #rental-warnings {
        margin: 0px 40px;
        /* max-width: fit-content; */
    }
    .rental-rentals img {
        border: 15px solid var(--white);
    }
    th, td {
        padding: 8px 10px;
    }
    th {
        font-size: larger;
    }
}