@media screen and (min-width: 720px) {
    body {
        max-width: 1600px;
        /* column-gap: 0px; */
    }
    footer {
        display: grid;
        grid-template-columns: .5fr 1fr .5fr;
    }
    footer p {
        grid-column: 2/3;
        justify-content: center;
        margin: 0px;
        padding: 0px;
    }
}