@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
/* lesson 2 base - should be small */

body {
    max-width: 375px;
    margin: 0px auto;
    font-family: 'Montserrat', sans-serif;
}
#background {
    background-color: #73346F;
    padding: 20px;
}
header {
    justify-content: center;
}
header h1 {
    color: white;
    text-align: center;
}
header h2 {
    text-align: center;
    color: white;
    font-size: xx-large;
}
main {
    margin: 5px;
    border-radius: 5px;
    background-color: white;
    padding: 7px;
    display: grid;
    grid-template-columns: 1fr;   /* only 1fr for mobile view - no positioning for cards */
    justify-content: center;
}
.card {
    max-width: 350px;
    border-style: solid;
    border-color: #73346F;
    border-radius: 10px 10px 0px 0px;
    margin: 10px;
    background-color: #ece9ec;
}
.card h3 {
    border-radius: 5px 5px 0px 0px;
    background-color: #73346F; 
    color: white;
    text-align: left;
    font-size: larger;
    font-weight:700;
    padding: .5em;
    margin: 0;
}
.card p, a {
    text-align: left;

    margin: .5em;
}
.card a {
    color: blue;
}
.design-example {
    max-width: 337px;
    justify-content: center;
    margin: 10px 5px 5px 5px;
    border-style: solid;
    border-color: #73346F;
}
li {
    list-style-type: none;
    text-decoration: none;
    list-style: none;
    padding: 4px 0px 4px 0px;
}
section p {
    text-align: center;
}
footer {
    background-color: #73346F;
    color: white;
    font-size: 1em;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, auto);
    padding: 10px;
}
footer p {
    grid-column: 2/3;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}