body {
    font-family: 'Roboto', sans-serif;
}
header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    /* border-style: solid;
    border-color: aliceblue; */
    border: 1px solid aliceblue;
    /* padding: 10px; */
    padding: 1rem;
    background: rgb(192, 229, 255);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

section {
    padding: 1rem;
    background: white;
}