@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@400;700;800&display=swap');
/* chamber site mobile page */

:root {
    --back-color: #5F6E0E;
    --font-color: #523000;
    /* --white-color: #FDFEFF; */
    --white-color: white;
    --footer-color: #FFC283;
}
body {
    /* max-width: 375px; */
    margin: 0 auto;
    font-family: 'Almarai', sans-serif;
}
header {
    background-color: var(--back-color);
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    max-width: 100%;
    /* width: 100vw; */
}
.logo {
    max-width: 180px;
    align-items: center;
    margin: 5px;
    /* box-shadow: 20px; */
}
#menu {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: .5rem .75rem;
    background-color: var(--font-color);
    color: var(--white-color);
    position: absolute;
    top: 1rem;
	right: 1rem;
}
#menu::before {
    content: "≡";
}
#menu.open::before {
	content: "☑️";
}
.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;
    background-color: var(--white-color);
    color: var(--back-color);
}
.navigation a {
    display: none;
    padding: 1rem;
    text-decoration: none;
    color: var(--font-color);
    font-weight: 700;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
}
.navigation a:hover, .navigation a:active {
    color: var(--font-color);
    background-color: var(--footer-color);
}
.open a {
	display: block;
}
/* The switch - the box around the slider */
.switch {
    position: fixed;
    display: block;
    width: 60px;
    height: 34px;
    margin: 100px 0px 0px 455px;
    padding: 0px;
  }
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  /* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
input:checked + .slider {
    background-color: var(--footer-color);
  }
input:focus + .slider {
    box-shadow: 0 0 1px var(--footer-color);
  }
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
  }
.slider.round:before {
    border-radius: 50%;
  }
#hero {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    text-align: left;
    justify-content: space-around;
    padding: 5px;
    margin: 10px;
}
#hero-img {
    /* max-width: 375px; */
    max-width: 675px; /* hero edit */
    /* justify-content: center; */
    margin: 10px 0px 10px 0px;
}
#hero-msg h1 {
    color: var(--font-color);
    padding: 0px;
}
#hero-msg p {
    color: black;
    padding: 5px 0px;
    text-align: left;
    margin-top: -10px;
    margin-bottom: 23px;
}
.join {
    text-align: left;
    color: var(--white-color);
    background-color: var(--font-color);
    padding: 10px;
    text-decoration: none;
    margin: 15px 0px;
}
.join a {
    padding: 1rem;
    text-decoration: none;
    font-weight: 700;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
}
.join a:hover, join a:active {
    color: var(--font-color);
    background-color: var(--footer-color);
}
#background {
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: var(--back-color);
    height: 275px;
    margin: 40px 0px;
}
.ads {
    max-height: 150px;
    grid-row: 1/2;
    padding: 5px 5px;
    justify-content: center;
}
.ad-msg {
    grid-row: 2/3;
    color: var(--white-color);
    text-align: left;
    padding: 5px 10px;
    margin: 5px;
    font-size: larger;
    font-weight:600;
}
.events {
    display: grid;
    grid-template-columns: .05fr 1fr 1fr .05fr;
    grid-template-rows: .25fr 1fr;
    margin: 0px;
}
main h2 {
    color: var(--font-color);
    text-align: left;
    padding: 5px;
    margin: 10px 0px -5px 10px;
    grid-column: 2/3;
    grid-row: 1/2;
}
.fair {
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: left;
    padding: 5px;
    margin: 5px 5px 5px 10px;
}
.fair h3 {
    color: var(--font-color)
}
.sebastion {
    grid-column: 3/4;
    grid-row: 2/3;
    text-align: left;
    padding: 5px;
    margin: 10px;
}
.sebastion h3 {
    color: var(--font-color);
}
/* .weather {
    margin: 20px 0px 40px 0px;
    max-width: 375px;
} */
footer {
    display: flex;
    max-height: 300px;
    background-color: var(--footer-color);
    padding: 10px 0px;
    text-align: center;
    color: var(--font-color);
    /* font-weight: 500; */
}
#modified, #lastModified {
    font-size: medium;
    font-family: 'Almarai', sans-serif;
}
