@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@400;700;800&display=swap');
/* chamber site mobile page - main */

:root {
    --back-color: #5F6E0E;
    --font-color: #523000;
    --white-color: white;
    --footer-color: #FFC283;
}
body {
    margin: 0 auto;
    font-family: 'Almarai', sans-serif;
}
header {
    background-color: var(--back-color);
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    max-width: 100%;
}
.logo {
    max-width: 180px;
    align-items: center;
    margin: 5px;
}
#menu {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: .5rem .75rem;
    background-color: var(--font-color);
    color: var(--white-color);
    position: absolute;
    top: 1rem;
	right: 1rem;
}
#menu::before {
    content: "≡";
}
#menu.open::before {
	content: "☑️";
}
.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;
    background-color: var(--white-color);
    color: var(--back-color);
}
.navigation a {
    display: none;
    padding: 1rem;
    text-decoration: none;
    color: var(--font-color);
    font-weight: 700;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
}
.navigation a:hover, .navigation a:active {
    color: var(--font-color);
    background-color: var(--footer-color);
}
.open a {
	display: block;
}
#hero {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    text-align: left;
    justify-content: space-around;
    padding: 5px;
    margin: 10px;
}
#hero-img {   
    max-width: 675px; /* hero edit */
    justify-content: center;
    margin: 10px 0px 10px 0px;
    height: auto;
}
#hero-msg h1 {
    color: var(--font-color);
    padding: 0px;
}
#hero-msg p {
    color: black;
    padding: 5px 0px;
    text-align: left;
    margin-top: -10px;
    margin-bottom: 23px;
}
.join {
    text-align: left;
    color: var(--white-color);
    background-color: var(--font-color);
    padding: 10px;
    text-decoration: none;
    margin: 15px 0px;
}
.join a {
    padding: 1rem;
    text-decoration: none;
    font-weight: 700;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
}
.join a:hover, join a:active {
    color: var(--font-color);
    background-color: var(--footer-color);
}
#background {
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: var(--back-color);
    height: 275px;
    margin: 40px 0px;
}
.ads {
    max-height: 150px;
    grid-row: 1/2;
    padding: 5px 5px;
    justify-content: center;
}
.ad-msg {
    grid-row: 2/3;
    color: var(--white-color);
    text-align: left;
    padding: 5px 10px;
    margin: 5px;
    font-size: larger;
    font-weight:600;
}
.events {
    display: grid;
    grid-template-columns: .05fr 1fr 1fr .05fr;
    grid-template-rows: .25fr 1fr .25fr 1fr;
    margin: 0px;
}
main h2 {
    color: var(--font-color);
    text-align: left;
    padding: 5px;
    margin: 10px 0px -5px 10px;
    grid-column: 2/3;
    grid-row: 1/2;
}
.fair {
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: left;
    padding: 5px;
    margin: 5px 5px 5px 10px;
}
.fair h3 {
    color: var(--font-color)
}
.sebastion {
    grid-column: 3/4;
    grid-row: 2/3;
    text-align: left;
    padding: 5px;
    margin: 10px;
}
.sebastion h3 {
    color: var(--font-color);
}
.weather-info {
    grid-column: 2/3;
    grid-row: 4/5;
    margin: 5px 5px 5px 10px;
    /* max-width: 375px; */
    color: var(--font-color);
    text-align: left;
}
.weather-info h3 {
    margin: 20px 0px 10px 0px;
    /* max-width: 375px; */
    color: var(--font-color);
}
footer {
    display: flex;
    max-height: 300px;
    background-color: var(--footer-color);
    padding: 10px 0px;
    text-align: center;
    color: var(--font-color);
}
#modified, #lastModified {
    font-size: medium;
    font-family: 'Almarai', sans-serif;
}


/* chamber site mobile page - discover */

.discover-grid {
    display: grid;
    grid-template-columns: 10px 1fr;
}
.sidebar {
    position: sticky;
    /* position: fixed; */
    z-index: 1;
    top: 0;
    left: 0;
    height: 100vh;
    width: 0;
    background-color: var(--font-color);
    color: var(--white-color);
    /* padding: 20px; */
    overflow-x: hidden;
    transition: 0.5s;
    
}
/* collapsable sidebar for mobile */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  /* font-size: 25px; */
  color: var(--white-color);
  display: block;
  transition: 0.3s;
}
.sidebar a:hover {
    color: var(--footer-color);
}
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
/* calendar section */
.calendar-wrapper {
    max-width: 280px;
    font: 100% system-ui;
    padding-bottom: 5px;
  }
/* .calendar-wrapper a {
    width: 0;
} */
.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }
.first-day {
    grid-column-start: 3;
  }
.day-name {
    background: var(--back-color);
  }
.calendar-wrapper h1 {
    text-align: center;
  }
.calendar-wrapper ol {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
.calendar-wrapper li {
    padding: 2px;
  }
  /* button for mobile */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: var(--font-color);
  color: white;
  padding: 10px 15px;
  border: none;
  font-weight: 600;
}
.openbtn:hover {
  background-color: var(--footer-color);
  color: var(--font-color);
  /* font-weight: 500; */
}
#discover-main {
    transition: margin-left .5s;
    padding: 16px;
}
.attractions h1 {
    color: var(--font-color);
    margin: 30px 0px 20px 10px;
}
.attractions img {
    max-width: 400px;
    margin-left: -40px;
}
.hover:hover {
    box-shadow: 0 0 10px #333;
}
.attractions h2 {
    padding: 0px;
    margin: 10px 0px -5px 0px;
}
.park-rule {
    padding: 0px;
    margin-top: -8px;
    font-size: x-small;
}
figcaption {
    font-size: smaller;
    font-style: italic;
    margin: 5px 0 30px -40px;
}
