@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@400;700;800&display=swap');


/* chamber site mobile page - MAIN */

:root {
    --back-color: #5F6E0E;
    --light-back-color: #d7dfaf;
    --font-color: #523000;
    --white-color: white;
    --footer-color: #FFC283;
}
body {
    margin: 0 auto;
    font-family: 'Almarai', sans-serif;
}
.banner-content {
    padding: 20px 100px;
    max-width: 375px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: fixed;
    background-color: var(--font-color);
}
.banner-text, .banner-text p{
    flex-grow: 1;
    line-height: 1.5;
    color: var(--white-color);
    padding-right: 10px;
}
.banner-close {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--white-color);
    font-weight: 600;
}
.banner-text, .banner-close > span {
    color: var(--font-color);
}
header {
    background-color: var(--back-color);
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    max-width: 100%;
}
.logo {
    max-width: 180px;
    align-items: center;
    margin: 5px;
}
#menu {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: .5rem .75rem;
    background-color: var(--font-color);
    color: var(--white-color);
    position: absolute;
    top: 1rem;
	right: 1rem;
}
#menu::before {
    content: "≡";
}
#menu.open::before {
	content: "☑️";
}
.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;
    background-color: var(--white-color);
    color: var(--back-color);
}
.navigation a {
    display: none;
    padding: 1rem;
    text-decoration: none;
    color: var(--font-color);
    font-weight: 700;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
}
.navigation a:hover, .navigation a:active {
    color: var(--font-color);
    background-color: var(--footer-color);
}
.open a {
	display: block;
}
#hero {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    text-align: left;
    justify-content: space-around;
    padding: 5px;
    margin: 10px;
}
#hero-img {   
    max-width: 675px; /* hero edit */
    justify-content: center;
    margin: 10px 0px 10px 0px;
    height: auto;
}
#hero-msg h1 {
    color: var(--font-color);
    padding: 0px;
}
#hero-msg p {
    color: black;
    padding: 5px 0px;
    text-align: left;
    margin-top: -10px;
    margin-bottom: 23px;
}
.join {
    text-align: left;
    color: var(--white-color);
    background-color: var(--font-color);
    padding: 10px;
    text-decoration: none;
    margin: 5px 0px;
}
.join a {
    padding: 1rem;
    text-decoration: none;
    font-weight: 700;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
}
.join a:hover, join a:active {
    color: var(--font-color);
    background-color: var(--footer-color);
}
#spotlight {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--back-color);
    height: auto;
    padding: 10px;
    margin: 40px 0px;
}
#spotlight section {
    margin: 5px 50px;
    padding: 10px;
    display: block;
    line-height: 1.5em;
}
#spotlight>* {
    flex: 1 1 200px;
    max-width: 270px;
}
.ads {
    margin: 0 auto;
    max-height: 150px;
    padding: 5px 5px;
    display: block;
    text-align: center;
}
.ad-msg {
    color: var(--white-color);
    text-align: center;
    padding: 5px 10px;
    margin: 2px;
    font-size: larger;
    font-weight:600;
}
.events {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px;
}
main h2 {
    color: var(--font-color);
    text-align: left;
    padding: 5px;
    margin: 10px 0px -5px 10px;
    grid-column: 2/3;
    grid-row: 1/2;
}
.fair {
    text-align: left;
    padding: 5px;
    margin: 5px 5px 5px 10px;
}
.fair h3 {
    color: var(--font-color)
}
.sebastion {
    text-align: left;
    padding: 5px;
    margin: 10px;
}
.sebastion h3 {
    color: var(--font-color);
}
.weather-info {
    margin: 5px 5px 5px 15px;
    color: var(--font-color);
    text-align: left;
    font-weight: 600;
}
.weather-info h3 {
    margin: 20px 0px 25px 0px;
    color: var(--font-color);
}
#weather h4 {
    padding-top: 25px;
}
#forecast-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    text-decoration: none;
    list-style: none;
}
#forecast-list p, #forecast-list figcaption,  #forecast-list img {
    padding: 0px 15px 0px 0px;
    display: block;
    text-align: center;
}
footer {
    display: flex;
    max-height: 300px;
    background-color: var(--footer-color);
    padding: 10px 0px;
    text-align: center;
    color: var(--font-color);
}
#modified, #lastModified {
    font-size: medium;
    font-family: 'Almarai', sans-serif;
}


/* chamber site mobile page - DISCOVER */

.discover-grid {
    display: grid;
    grid-template-columns: 10px 1fr;
}
.sidebar {
    position: sticky;
    /* position: fixed; */
    z-index: 1;
    top: 0;
    left: 0;
    height: 100vh;
    width: 0;
    background-color: var(--font-color);
    color: var(--white-color);
    overflow-x: hidden;
    transition: 0.5s;
}
/* collapsable sidebar for mobile */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  /* font-size: 25px; */
  color: var(--white-color);
  display: block;
  transition: 0.3s;
}
.sidebar a:hover {
    color: var(--footer-color);
}
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  padding: 60px 10px;
}
.sidebar div {
    padding: 10px 15px;
}
/* calendar section */
.calendar-wrapper {
    max-width: 280px;
    font: 100% system-ui;
    padding-bottom: 5px;
  }
/* .calendar-wrapper a {
    width: 0;
} */
.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }
.first-day {
    grid-column-start: 3;
  }
.day-name {
    background: var(--back-color);
  }
.calendar-wrapper h1 {
    text-align: center;
  }
.calendar-wrapper ol {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
.calendar-wrapper li {
    padding: 2px;
  }
  /* button for mobile */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: var(--font-color);
  color: white;
  padding: 10px 15px;
  border: none;
  font-weight: 600;
}
.openbtn:hover {
  background-color: var(--footer-color);
  color: var(--font-color);
  /* font-weight: 500; */
}
#discover-main {
    transition: margin-left .5s;
    padding: 16px;
}
.attractions h1 {
    color: var(--font-color);
    margin: 30px 0px 20px 0px;
}
.attractions img {
    max-width: 400px;
    margin-left: -40px;
}
.hover:hover {
    box-shadow: 0 0 10px #333;
}
.attractions h2 {
    padding: 0px;
    margin: 10px 0px -5px 0px;
}
.park-rule {
    padding: 0px;
    margin-top: -8px;
    font-size: x-small;
}
figcaption {
    font-size: smaller;
    font-style: italic;
    margin: 5px 0 30px -40px;
}


/* chamber site mobile page - JOIN */

#join {
    margin: 30px 30px 20px 30px;
    display: flex;
    flex-direction: column;
}
#join h1, #join h2 {
    margin: 30px 0px 0px 0px;
    color: var(--font-color);
}
#join img {
    max-width: 600px;
    margin: 0px 40px 0px 50px;
}

/*----------- Join Main Columns --------------*/
#join-main {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}
#join-main h2{
    padding: 0;
}

/*----------- FORM STYLING --------------*/
#join-form {
    border: solid 2px gray;
    padding: 20px 50px 0px 15px;
    border-radius: 6px;
    margin: auto 20px 40px 20px;
}
.wf1 fieldset {
    margin: 2rem 0;
    border: none;
    padding: .5rem;
}
.wf1 legend {
    color: var(--back-color);
    font-size: medium;
    font-weight: 600;
    padding: 0;
    margin: -3px;
}
.wf1 label {
    display: block;
    padding-top: 1rem;
    color: var(--font-color);
    /* color: darkgray; */
    font-size: .9rem;
}
.wf1 div {
    padding-top: 1rem;
    color: var(--font-color);
    font-weight: 600;
    font-size: .9rem;
}
.wf1 input[type="text"], 
.wf1 input[type="email"],
.wf1 input[type="tel"],
.wf1 select    
{
    display: block;
    border: solid 1px var(--font-color);
    border-radius: 6px;
    padding: 1rem;
    color: var(--font-color);
    width: 100%;
    max-width: 400px;
    appearance: none;
    margin: 4px 0px 4px 0px;
}
#tiers label {
    color: var(--font-color);
    font-size: medium;
}
.wf1 input[type="radio"],
.wf1 input[type="checkbox"] {
    margin-right: 6px;
}  
.wf1 input[type="submit"] {
    border: none;
    background-image: linear-gradient(var(--font-color), #301c00);
    color: white;
    border-radius: 6px;
    padding: .8rem;
    width: 100%;
    max-width: 400px;
    margin: -1rem 2% 2rem 2%;
    box-shadow: 1px 1px 4px lightgray;
    font-size: large;
    font-weight: 600;
} 

/* #member-tiers {
    display:flex;
    flex-direction: column;
} */
#member-tiers h2 {
    margin: 20px 0px -5px 30px;
    color: var(--font-color);
    justify-content: center;
}
#member-tiers img {
    max-width: 500px;
}


/* chamber site mobile page - DIRECTORY */

#directory {
    color: var(--font-color);
    text-align: left;
    padding: 20px;
}
#directory h1, #directory h3{
    margin: 45px 10px 10px 20px;
}
#directory p {
    margin: 25px 10px -10px 20px;
}

/* cards */
#directory-main {
    padding: 30px;
}
.directory-toggle button {
    color: var(--white-color);
    background-color: var(--font-color);
    margin: 10px 0px 0px 15px;
    padding: 5px;
}
#cards section {
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 15px 15px;
    box-shadow: 1px 2px 5px #dfdfdf;
    padding: 10px;
}
#cards hr {
    max-width: 85%;
}
#cards {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
#cards>* {
    flex: 1 1 200px;
    max-width: 270px;
}
#cards img {
    max-width: 175px;
    margin: 15px auto;
    padding: 10px;
    display: block;
    text-align: center;
}
#cards h3 {
    color: var(--font-color);
    font-weight: 600;
    font-size: larger;
    margin: 30px;
}
#cards p {
    padding: 0px;
    margin: 10px 10px 10px 30px;
}
#cards h4 {
    color: var(--back-color);
    margin: 40px 10px 30px 30px;
    font-weight: bolder;
}


/* list view */
.list #logo-img, .list hr, .list h4 {
    display: none;
}
.list {
    display: flex;
    flex-direction: column;
    padding: 15px 10px;
}
.list #bus-card {
    padding: 0;
    color: var(--font-color);
    font-size: 1rem;
    margin: 4px;
    margin-bottom: 10px;
    text-align: left;
}
.list #bus-name {
    color: var(--font-color);
    margin-bottom: 2px;
    padding: 0;
}
.list section:nth-child(odd) {
	background-color: var(--light-back-color);
} 


#thanks hr {
    margin: 80px;
    max-width: 90%;
    border: 1px solid lightgray;
    align-items: center;
}
#thanks h2 {
    color: var(--font-color);
    padding: 20px 15px 30px 15px;
    display: block;
    text-align: center;
}
#thanks {
    display: block;
    text-align: center;
}
.gold {
    max-height: 150px;
    padding: 25px;
}