@media screen and (min-width: 720px) {
    /* chamber larger */

    :root {
        --back-color: #5F6E0E;
        --font-color: #523000;
        /* --white-color: #FDFEFF; */
        --white-color: white;
        --footer-color: #FFC283;
    }
    body {
        max-width: 100%;
    }
    /* header {
        padding: 0px;
        margin: 0px;
        width: 100vw;
        } */
    .switch {
        margin: 20px -185px -150px 1000px;
        /* margin: 10px 0px 0px -45px; */
    }
    #hero {
        display: grid;
        grid-template-columns: .05fr 1fr .5fr .05fr;
        grid-template-rows: 1fr;
    }
    #hero-img { 
        grid-column: 2/3;
        grid-row: 1/2;
        /* max-width: 100%; */
        justify-self: center;
        margin: 5px 0px 15px 0px;
        padding-left: 0px;
    }
    #hero-msg h1 {
        padding: 0px;
        margin-top: 10px;
        justify-content: left;
    }
    #hero-msg {
        grid-column: 3/4;
        text-align: left;
        grid-row: 1/2;
        padding: 0px 15px;
        margin-top: -5px;
    }
    #background {
        display: grid;
        grid-template-columns: .75fr .5fr .5fr .5fr .5fr .5fr .75fr;
        grid-template-rows: 1fr;
        margin: 0px;
        padding: 0px;
    }
    #jj-img {
        grid-column: 2/3;
        justify-content: center;
    }
    #jj-msg {
        grid-column: 3/4;
        grid-row: 1/2;
        margin: 0;
        padding: 20px 5px;
        justify-content: center;
    }
    #sweet-img {
        grid-column: 5/6;
        justify-content: center;
    }
    #sweet-msg {
        grid-column: 6/7;
        grid-row: 1/2;
        margin: 0;
        padding: 20px 5px;
        justify-content: center;
    }
    .events {
        display: grid;
        grid-template-columns: .25fr .5fr .5fr .25fr;
        grid-template-rows: .25fr 1fr;
        margin: 0px;
        padding: 5px 25px 5px 25px;
    }

}