@media screen and (min-width: 720px) {
    /* chamber larger */

    body {
        max-width: 90%;
    }
    /* header {
        padding: 0px;
        margin: 0px;
        width: 100vw;
        } */
    #hero {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr;
    }
    #hero-img {
        grid-column: 1/2;
        grid-row: 1/2;
        max-width: 600px;
        justify-self: center;
        margin-left: 0px;
        padding-left: 0px;
    }
    #hero-msg h1 {
        padding: 0px;
        margin: 3px;
    }
    #hero-msg {
        grid-column: 2/3;
        text-align: left;
        grid-row: 1/2;
        padding: 0px 15px;
        margin-top: -5px;
    }
}