@media screen and (min-width: 640px) {
    /* chamber medium - main */
    
    :root {
        --back-color: #5F6E0E;
        --font-color: #523000;
        /* --white-color: #FDFEFF; */
        --white-color: white;
        --footer-color: #FFC283;
    }
    body {
        max-width: 720px;
    }
    .navigation {
        flex-direction: row;
        justify-content: space-around;
    }
    .navigation a {
        display: block;
        padding: 1rem;
        text-decoration: none;
        color: var(--font-color);
        font-weight: 700;
        transition: 0.5s;
        font-size: clamp(1rem, 2vmin, 1.5rem);
    }
    .navigation a:hover, .navigation a:active {
        color: var(--font-color);
        background-color: var(--footer-color);
    }
    #menu {
        display: none;
    }
    #hero {
        display: grid;
        grid-template-rows: 2fr 1fr;
    }
    #hero-img { 
        grid-row: 1/2;
        /* max-width: 525px; */
        /* max-width: 675px; */  /* this one */
        margin: 10px 0px 0px 0px;
        padding: 0px;
        justify-self: center;
        width: 100%; /* this width and height is for testing wk6 */
        height: auto;
    }
    #hero-msg {
        grid-row: 2/3;
        text-align: left;
        margin: -40px 0px 10px 0px;
    }
    #background {
        height: 175px;
        display: flex;
        flex-direction: row;
    }
    .ads {
        max-height: 165px;
        justify-items: center;
        padding: 5px;
    }
    .ad-msg {
        padding: 20px 5px;
    }
    footer {
        display: block;
        max-height: 200px;
        font-weight: 600;
    }

    /* chamber medium - discover */

    .discover-grid {
        display: grid;
        grid-template-columns: 210px 1fr;
    }
    .sidebar {
        width: 100%;
        font-size: medium;
        padding: 20px;
    }
    .sidebar a {
        display: none;
    }
    .openbtn {
        display: none;
    }
    #discover-main {
        padding: 0;
        margin: 30px 0 0 75px;
    }
    .attractions h1 {
        margin: 0 0 30px 0;
    }
    .attractions img {
        max-width: 350px;
        padding: 0;
        margin: 0 0 0 -40px;
    }
    .attractions block {
        margin: 15px;
    }

    /* chamber medium - join */

    #join-main {
        display: grid;
        grid-template-columns: repeat(2, auto);
    }
    #join-form {
        grid-column: 1/2;
        margin: 10px;
        max-width: 200px;
    }
    #member-tiers {
        padding: 15px 10px;
        justify-content: left;
    }
    #member-tiers h2 {
        padding: 0px;
        margin-left: 20px;
    }
    #member-tiers img {
        max-width: 800px;
    }


    /* chamber medium - DIRECTORY */

    
}