@media screen and (min-width: 640px) {
    /* chamber medium */
    
    :root {
        --back-color: #5F6E0E;
        --font-color: #523000;
        /* --white-color: #FDFEFF; */
        --white-color: white;
        --footer-color: #FFC283;
    }
    body {
        max-width: 800px;
    }
    /* header {
    padding: 0px;
    margin: 0px;
    width: 100vw;
    } */
    .navigation {
        flex-direction: row;
        justify-content: space-around;
    }
    .navigation a {
        display: block;
        padding: 1rem;
        text-decoration: none;
        color: var(--font-color);
        font-weight: 700;
        transition: 0.5s;
        font-size: clamp(1rem, 2vmin, 1.5rem);
    }
    .navigation a:hover, .navigation a:active {
        color: var(--font-color);
        background-color: var(--footer-color);
    }
    #menu {
        display: none;
    }
    #hero {
        display: grid;
        grid-template-rows: 2fr 1fr;
    }
    #hero-img {
        grid-row: 1/2;
        max-width: 525px;
        justify-self: center;
    }
    #hero-msg {
        grid-row: 2/3;
        text-align: left;
    }
    #background {
        height: 175px;
        display: flex;
        flex-direction: row;
    }
    .ads {
        max-height: 165px;
        justify-items: center;
        padding: 5px;
    }
    .ad-msg {
        padding: 20px 5px;
    }
    /* .weather {
        max-width: 100%;
    } */
    footer {
        display: block;
        max-height: 200px;
        font-weight: 600;
    }
}