@import url('https://fonts.google.com/specimen/Libre+Baskerville?query=baskerville');

body {
    max-width: 800px;
    margin: 0 auto;
}
#background {
    background-color: #73346F;
}
header {
    justify-self: center;
    display: grid;
    grid-template-columns: 2(1fr);
    padding: 50px;
}
#td-headshot {
    max-width: 150px;
    padding-left: 130px;
    grid-column: 1/2;
    margin: 0px;
}
header h1 {
    grid-column: 2/3;
    color: white;
    padding-top: 85px;
    padding-right: 150px;
    z-index: -100px;
    margin: 0px;
}
nav {
    display: block; /* block items take up the full width available by default */
    background-color: black;
    text-align: center;
}
nav a {
    display: block;
    color: white;
    text-align: center;
    margin: 0;
    padding: 12px;
    list-style-type: none;
    text-decoration: none;
    font-size: larger;
}
main {
    margin: 40px auto;
    border-radius: 5px;
    background-color: white;
    padding: 20px;
    max-width: 600px;
}
main h2 {
    text-align: center;
    font-weight: 100;
    padding: 0px;
}
hr {
    color: #73346F;
    justify-content: center;
    padding: auto 20px;
}
.card {
    border-style: solid;
    border-color: #72A67F;
    margin: 10px;
}
.card h3 {
    background-color: #72A67F;
    color: white;
    text-align: center;
    font-size: large;
    font-weight:700;
    margin: 0;
}
li {
    list-style-type: none;
    text-decoration: none;
    list-style: none;
    padding: 4px 0px 4px 0px;
}
section p {
    text-align: center;
}
footer {
    background-color: #73346F;
    color: white;
    font-size: 1em;
    padding: 25px 50px;
    margin-top: 200px;
    text-align: center;
}