@import url('https://fonts.google.com/specimen/Libre+Baskerville?query=baskerville');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

#background {
    height: 600px;
    background-color: #73346F;
}

header {
    justify-self: center;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    color: black;
    text-emphasis-color: white;
    text-align: center;
    text-decoration: none;
    padding: 35px;
}