@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
/* main page base - smaller */

body {
    /* max-width: 800px; */
    margin: 0 auto;
    font-family: 'Libre Baskerville', serif;
}
#background {
    background-color: #73346F;
}
header {
    /* justify-self: center; */
    /* display: grid; */
    display: flex;
    grid-template-columns: repeat(2, auto);
    padding: 30px;
    justify-content: center;
}
#td-headshot {
    /* grid-column: 1/2; */
    max-width: 150px;
    padding: 0px;
    margin: 0px;
    box-shadow: 15px 15px 15px #51254e;
}
header h1 {
    /* grid-column: 2/3; */
    color: white;
    padding: 85px 0px 0px 75px;
    margin: 0px;
}
#menu {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: .5rem .75rem;
    background-color: black;
    color: white;
    position: absolute;
    top: 1rem;
	right: 1rem;
}
#menu::before {
    content: "≡";
}
#menu.open::before {
	content: "☑️";
}
.navigation::before {
    content: "🌼";
}
.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
    text-align: center;
	background-color: black;
	color: white;
}
.navigation a {
    display: none;
    padding: 1rem;
    text-decoration: none;
    color: white;
    font-weight: 700;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
}
.navigation a:hover, navigation a:active {
    color: black;
    background-color: white;
}
.open a {
	display: block;
}
main {
    margin: 40px auto;
    border-radius: 5px;
    background-color: white;
    padding: 20px;
    max-width: 600px;
}
main h2 {
    text-align: center;
    font-weight: 100;
    padding: 0px;
}
hr {
    justify-content: center;
    min-width: 250px;
    border: .5px solid;
}
.card {
    border-style: solid;
    border-color: #73346F;  /* main purple */
    border-radius: 5px;
    margin: 20px;
}
.card h3 {
    border-radius: 2.5px 2.5px 0px 0px;
    background-color: #73346F;  /* main purple */
    color: white;
    text-align: center;
    font-size: large;
    font-weight:700;
    padding: .5em;
    margin: 0;
}
li {
    list-style-type: none;
    text-decoration: none;
    list-style: none;
    padding: 4px 0px 4px 0px;
}
section p {
    text-align: center;
}
iframe {
    display: block;
    justify-content: center;
    max-width: 80%;
    margin: 20px;
}
footer {
    background-color: #73346F;
    color: white;
    font-size: 1em;
    padding: 25px 50px;
    /* margin-top: 20px; */
    text-align: center;
    font-family: 'libre baskerville', serif;
}
#modified, #lastModified {
    font-size: small;
}