@media screen and (min-width: 640px) {
    /* main larger */
    
    body {
        /* max-width: 1600px; */
        margin: 0 auto;
        font-family: 'Libre Baskerville', serif;
    }
    #background {
        background-color: #73346F;
    }
    /* header {
        justify-self: center;
        display: grid;
        grid-template-columns: repeat(2, auto);
        padding: 30px;
    } */
    #td-headshot {
        max-width: 150px;
        justify-content: center;
        grid-column: 1/2;
        padding-right: 30px;
        margin: 0px;
    }
    header h1 {
        grid-column: 2/3;
        color: white;
        padding: 85px 0px 0px 20px;
        justify-content: center;
        margin: 0px;
    }
    .navigation {
        flex-direction: row;
        flex: 1 1 100%;
        text-align: center;
        justify-content: space-around;
    }
    .navigation a {
        display: block;
        text-align: center;
        margin: 0;
        padding: 12px;
        list-style-type: none;
        text-decoration: none;
        font-size: larger;
    }
    #menu {
        display: none; /* hide hamburger button */
    }
    /*main h2 {
        text-align: center;
        font-weight: 100;
        padding: 0px;
    }*/
    hr {
        min-width: 80%;
    }
    .home-grid {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .card {
        border-style: solid;
        border-color: #73346F; 
        border-radius: 5px;
        margin: 10px;
    }
    iframe {
        grid-column: 1/3;
        max-width: 90%;
    }
}