@media screen and (min-width: 500px) {
    /* main smaller */
    
    #menu {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        text-decoration: none;
        padding: .5rem .75rem;
        background-color: black;
        color: white;
    }
    #menu::before {
        content: "≡";
    }
    .navigation {
        list-style: none;
        margin: 0 auto;
        max-width: 760px;
    }
    .navigation li {
        display: none;
    }
    .navigation a {
        display: block;
        padding: 0.75rem;
        text-align: left;
        text-decoration: none;
        color: white;
        font-weight: 700;
        transition: 0.5s;
        font-size: clamp(1rem, 2vmin, 1.5rem);
    }
    .navigation a:hover, navigation a:active {
        color: black;
        background-color: white;
    }
    .show li {
        display: block;
    }
    #menu.show::before {
        content: "X";
    }
    /* main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    #td-headshot {
        grid-row: 1/2;
        justify-content: center;
        padding-left: 0;
    }

    header h1 {
        grid-row: 2/3;
    }   

    hr {
        justify-content: center;
        min-width: 2500px;
        grid-column: 1/3;
    } */
}